body{
    color: #F0AF01;
    margin-left: 30px; margin-right: 30px; margin-bottom: 30px; margin-top: 30px;
}

h1 {
    text-align: center;
    font-family: sans-serif; color: #F0A001; text-transform: uppercase;
    margin: auto;

}
h2 {
    text-align: center;
    font-family: sans-serif; color: #F1A165; text-transform: uppercase;
}
h3 {text-align: center; text-transform: capitalize; color: #FFA24F;}
h4 {text-align: center; font-family: serif; color: #F1A165;}
h5 {text-align: center;}
h6 {text-align: center;}
p  {
    text-align: center;
    font-family: sans-serif;
    font-style: normal;
    font-variant: normal;
}

ul{
    font-family: sans-serif;
    text-align: center;
    list-style-position: inside;
}

a {
    color: #0b2e13;
    text-decoration: none;
}
.buttonPosition {text-align: left;}


#WalesckoRodape{color:#39b3d7;text-align: center; padding: 30px 0;}


.lightDark-mode {
    background-color: #000000;
    color: #ffffff;
}
