main{
    margin-left: 300px;
    margin-right: 50px;
    width: auto;
    color: #FFFFF0;
    text-align: justify;
    border: #0F0F0F 5px;
    padding: 2px;
}
.content-section{
    background-color: #39b3d7;
    padding: 15px;
    margin: 1px;
    overflow: auto;
}

.content-menu{
    box-sizing: border-box;
    text-align: right;
    padding: 10px 15px 10px 15px;
    float: left;
}