footer{
    font-family: Arial;
    font-size: 14px;
    color: #FFFFF0;
    text-shadow: #0F0F0F 1px 1px 1px;
    text-align: center;
    background-color: #F0AF01;
    padding: 3px;
    text-transform: uppercase;
}
.nav-footer {
    box-sizing: border-box;
    text-align: center;
}
.nav-footer ul{

}
.nav-footer li {
    display: inline-block;
    color: #FFFFF0;
}
.nav-footer a{
    display: block;
    padding: 2px ;
    /*background: rgba(150,150,150, 0.2);*/
    text-decoration: none;
    /*text-transform: uppercase;*/
    letter-spacing: 2px;
}
.nav-footer p{


}
