main{
    margin-left: 300px;
    margin-right: 50px;
    width: auto;
    color: #F0A001;
    text-align: justify;
    border: #0F0F0F 5px;
    padding: 2px;
    background-color: #ff00ff;
}
.content-section{
    background-color: #ffffff;
    padding: 15px;
    margin: 1px;
    overflow: auto;
}

.content-menu{
    box-sizing: border-box;
    text-align: right;
    padding: 10px 15px 10px 15px;
    float: left;
}